[user]
	email = 1086565+jrollin@users.noreply.github.com
	name = jrollin
[core]
	editor = nvim
[init]
	defaultBranch = main

[includeIf "gitdir:~/workspace/"] # job needs, like workspace/* so all included projects
  path = .gitconfig-job
